/**********Générale**********/

a{
  text-decoration: none;
}

.bodyColor{
  background-color: rgb(193, 248, 248);
}

.primera{
  border-radius: 50%;
}

.bg-black{
  background-color: rgb(19, 19, 19);
}

.cegep{
  color: rgb(0, 127, 200); 
  font-size: 20px;
  padding: 20px;
}

.font{
  font-family: "Satisfy";
}

.text-blue{
  color: rgb(0, 127, 200);
}

.savoirPlus, .savoirPlus:hover{
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
}

.savoirPlus:hover{
  opacity: 0.8;
}

.text{
 text-align: justify;
  color: rgb(75, 75, 75);
}

/**********Top**********/

.bgTop {
  background-attachment: fixed;
  background-image: url("../images/banniere.gif");
  background-position: center 0;
  background-repeat: no-repeat;
  height: 550px;
}

.btn{

border: 2px solid rgb(49, 157, 219); 

}

.btn1:hover{
color:rgba(200, 47, 0, 0.774);
}

/***Id Scroll Spy***/

#Qualité{
  padding-top: 95px;
}

#Jour{
  padding-top: 95px;
}

#Historique{
  padding-top: 95px;
}

#Événements{
  padding-top: 95px;
}

/**********Body**********/

.bgDescription{
  background-image: url("../images/cegep.jpg");
  background-position: center;
  background-repeat: no-repeat;
  
}

.iconText1{
  font-size: 30px;
  color:rgba(200, 47, 0, 0.774); 
  padding: 40px;

}

.iconText2{
  font-size: 30px;
  color: rgb(49, 157, 219);  
  padding: 40px;

}
.iconRed{
  color:rgba(200, 47, 0, 0.774); 
  font-size: 45px;
  padding: 20px;
}


.iconBlue{
  color: rgb(49, 157, 219); 
  font-size: 45px;
  padding: 20px;
}


.icon2{ 
  color: rgba(200, 47, 0, 0.774); 
  font-size: 30px;
}


  


.points{
  border-bottom: black 2px dotted;
  flex-grow: 1;
  transform: scaleY(0.5);
}

.dateScript{
  right: 0;
  top: 0;
}

/***Image événements***/

/*zoom img*/
.zoomImg{
  transition: 200ms;
}

.zoomImg:hover{
  transform: scale(1.10);
  
}

.overFlow{
  overflow: hidden;
  position: relative;
}

/*date boite rouge*/
.jours{
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  line-height: 30px;
  padding-top: 15px;
}

.mois{
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

/*boite rouge*/
.dateBoite{
  background: rgb(200, 0, 0);
  height: 75px;
  right: 10px;
  top: 10px;
  width: 75px;
  outline: 1px solid white;
  outline-offset: -5px;
}

/*boite text*/
.boiteText{
  height: 275px;
}

/**********Bas**********/

/***Carousel***/

/*fleche*/
.carousel-control-prev{
  width: 3%;
}

.carousel-control-next{
  width: 3%;
}

/*like insta*/

.overlay { 
  background-color: rgba(37, 37, 37, 0.3);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s;
}

.container:hover .overlay {
  opacity: 1;
}

.icon{
  color: white;
  font-size: 15px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%; 
  transform: translate(-50%, -50%);
}



/***Email***/
.socialmedia
{
  font-size: 25px;
  margin: 20px;
  padding: 15px; 
}

.colorReSoc{
  margin: 5px;
  color: #686868;
  text-decoration: none;
}

.iconYoutube:hover{
 
  color:#FF0000;
  text-decoration: none;
}

.iconFacebook:hover{
  color:#1977F3;
  text-decoration: none;
}

.iconLinkedin:hover{
  color: #0073B0;
  text-decoration: none;
}

.iconInstagram:hover{
  color:#C737A9 ;
  text-decoration: none;
  
}

.iconGithub:hover{
  color:white ;
  text-decoration: none;
}

.fa-download{
  color:rgba(200, 47, 0, 0.774); 
}




/**********Média query**********/

@media (max-width: 991px){

  .bgHistoire{
   height: 575px;
  }

  .bgDescription{
   height: 575px;
  }

}

@media (max-width: 991px){

  .bgHistoire{
    height: 350px;
  }
 
  .bgDescription{
    height: 350px;
  }
 
}